{% extends 'base.html.twig' %}

{% block title %}Conteneur index{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row justify-content-center">
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
            <h1 class="text-center">État des stocks</h1>
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
        </div>
    </div>

    <div class="container">
        <div  class="row justify-content-start mb-3">
            <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-1">Adresse</th>
                <th class="col-md-3">CodeConteneur</th>
                <th class="col-md-1">Quantité</th>
                <th class="col-md-1">Coût</th>
                <th class="col-md-3">Produit</th>
                <th class="col-md-2">Date de Réception</th>
                <th class="col-md-1">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conteneur in conteneurs %}
            <tr>
                <td class="col-md-1">{{ conteneur.idStock }}</td>
                <td class="col-md-3">{{ conteneur.codeConteneur }}</td>
                <td class="col-md-1">{{ conteneur.quantite }}</td>

                <td class="col-md-1">{{ (conteneur.idProduit.prixUnitaire * conteneur.quantite)|number_format(2, '.', ',')}} €</td>
                <td class="col-md-3">{{ conteneur.IdProduit }}</td>
                <td class="col-md-2">{{ conteneur.dateReception ? conteneur.dateReception|date('Y-m-d H:i:s') : '' }}</td>
                <td class="col-md-1" >
                    <a href="{{ path('app_flux_show' , {'codeConteneur': conteneur.codeConteneur}) }}"> <i class="fa-solid fa-circle-info"></i> | </a>
                    <a href="{{ path('app_conteneur_edit', {'id': conteneur.id}) }}"> <i class="fa-solid fa-plus-minus"></i> | </a>
                    <a href="{{ path('app_conteneur_print', {'id': conteneur.id}) }}"> <i class="fa-solid fa-print"></i> </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="col-md-1"> </td>
            <td class="col-md-3"> </td>
            <td class="col-md-1"> Total</td>
            <td class="col-md-1">
                {% set sum = 0 %}
                {% for conteneur in conteneurs %}
                    {% set sum = (sum + (conteneur.idProduit.prixUnitaire * conteneur.quantite))  %}

                {% endfor %}
                {{ sum| number_format(2, '.', '.', '.' , '.' , '.') }} €
            </td>
            <td class="col-md-3"> </td>
            <td class="col-md-2"> </td>
            <td class="col-md-1"> </td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>

{% endblock %}
