{% extends 'base.html.twig' %}

{% block title %}Conteneur index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
            <h1 class="text-center">État des stocks</h1>
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
        </div>
    </div>

    <div class="container">
        <div  class="row justify-content-end ">
            <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>CodeConteneur</th>
                <th>Quantité</th>
                <th>DateReception</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conteneur in conteneurs %}
            <tr>
                <td>{{ conteneur.idStock }}</td>
                <td>{{ conteneur.codeConteneur }}</td>
                <td>{{ conteneur.quantite }}</td>
                <td>{{ conteneur.dateReception ? conteneur.dateReception|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_flux_show' , {'codeConteneur': conteneur.codeConteneur}) }}">Détail</a>
                    <a href="{{ path('app_conteneur_edit', {'id': conteneur.id}) }}">Ajustement</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
