{% extends 'base.html.twig' %}

{% block title %}Déplacer un Conteneur{% endblock %}

{% block body %}
    {% for message in app.flashes('MouvementImpossible') %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

<div class="container" style="margin-top:50px;">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image border border-white">
                    <img
                            alt="no-image"   src="{{ asset("img/move.svg") }}" />
                </div>

                <a class="card-action" href="{{ path('app_conteneur_select') }}"><i class="fa-solid fa-backward"></i></a>
                <div class="card-heading">
                    {{ conteneur.codeConteneur }}
                </div>
                <div class="card-text">
                   Adresse actuel :  {{ conteneur.idStock }}
                    <br>
                    {{ conteneur.idProduit.partNumber }} - {{ conteneur.idProduit.denomination }}
                    <br>
                    Quantité actuel : {{ conteneur.quantite }}
                </div>


                <div class="card-text">
                    {{ form_start(form, {'name': 'formValidate'} ) }}
                    {{ form_widget(form.idStock, {'id': 'idSelect', 'attr': {'class': 'invisible'}} ) }}
                    {{ form_end(form) }}


                    <label for="adresseSaisie">Scanner/Saisir la nouvelle adresse de stockage</label>
                    <input id="adresseSaisie" type="text" class="form-control">
                </div>


                <a type="submit" class="card-button" onclick="adresseControl()"> Valider</a>

            </div>
        </div>
    </div>


    <script>

        // fonction pour valider l'existence de l'adresse dans la base de donnée via une API
        function adresseControl() {

            //Récupérer l'input
            let input = document.getElementById("adresseSaisie").value

            //Lancer le fetch sur l'URL de l'API
            fetch(window.location.origin + '/stock/json/' + input)
                .then(result => result.json())
                .then(data => {
                    // Si il n'y a pas de donnée dans l'API renvoyer un message d'erreur
                    if (!data) {
                        alert("l'adresse " + input + " n'existe pas.");
                    }
                    // Sinon modifier la valeur et envoyer le formulaire
                    else
                        document.getElementById("idSelect").value = data[0].idStock;
                        document.forms["formValidate"].submit();
                })
        }

    </script>

{% endblock %}
