{% extends 'base.html.twig' %}

{% block title %}New Ligne{% endblock %}

{% block body %}
    {% for message in app.flashes('surStock') %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}




    <div class="row justify-content-center container m-0 p-0">

        <div class="card-sl p-0">
            <div class="card-heading">
                <div class="row align-items-center justify-content-center">
                    <img class="col-3" src="{{ asset('img/separator.svg') }}">
                    <h1 class="text-center">Commander</h1>
                    <img class="col-3" src="{{ asset('img/separator.svg') }}">
                </div>
            </div>
                <div class="card-image">
                    <a class="card-action" href="{{ path('app_main') }}"><i   class="fa-solid fa-backward"></i></a>
                    {% if ligne.idProduit.image %}
                        <img
                                alt="{{ ligne.idProduit.partNumber }}" src="{{ asset(ligne.idProduit.image) }}"/>
                    {% else %}
                        <img
                                alt="no-image" src="{{ asset("img/no_image.png") }}"/>

                    {% endif %}
                </div>


            <div class="card-text text-center">
                <h2> {{ ligne.idProduit }} {{ ligne.idProduit.denomination }}</h2>

                {{ ligne.idProduit.description }}

                <br>
                Prix unitaire : {{ ligne.idProduit.prixUnitaire }} €



                {{ form_start(form,{'name': 'formEditLigne '}) }}
                {{ form_label(form.quantite, 'Quantité', { 'label_attr': {'class': 'col-12 mt-2'}}) }}
                {{ form_widget(form.quantite , {'attr': {'class': 'col-3 text-center'}}) }}

                <div class=" m-3">
                    <button type="submit" class="card-button" style="width:20%; border-radius: 8px 8px; margin:1px auto;">
                        Valider
                    </button>
                </div>
                {{ form_end(form) }}
        </div>
    </div>

<script>
    function validation() {
        document.forms["formNewLigne"].submit();
    }
</script>



{% endblock %}
