{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}




    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">

            <div class="card-sl col-12 p-0 m-0">


                <div class="card-heading">
                    <div class="row align-items-center justify-content-center">
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                        <h1 class="text-center">Connexion</h1>
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                    </div>

                    <a  href="{{ path('app_register') }}">Inscription  <i class="fa-solid fa-arrow-right-to-bracket"></i></a>

                </div>

                <div class=" row justify-content-center text-center m-0 p-0">

                    <form >
                        <label class="col-12  mt-3" for="inputIdentifiant">Identifiant</label>

                        <input type="text" value="{{ last_username }}" name="identifiant" id="inputIdentifiant"
                               class="col-4 " autocomplete="username" required autofocus>

                        <label class="col-12 mt-3" for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class=" col-4"
                               autocomplete="current-password" required>

                        <input class="col-4" type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}
                        <div class="col-12 m-3">
                            <button type="submit" class="card-button" style="width:20%; border-radius: 8px 8px; margin:1px auto;">
                                Valider
                            </button>
                        </div>
                    </form>

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en temps que {{ app.user.userIdentifier }} - <a href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



    {% endblock %}
