{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="row align-items-center justify-content-center mt-3">
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
        <h1 class="text-center">Bienvenue sur LogiStock</h1>
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
    </div>

    <div class="container">
        <div class="row justify-content-start mb-3">

            <input type="text" id="myInput" class="light-table-filter col-2 searchbox-input" onkeyup="myFunction()"
                   placeholder="Recherche">

        </div>
    </div>

    <div class="container mt-4">
        <div class="row align-items-center justify-content-between flex-wrap">
            {% for produit in produits %}

                <div class="col-3 carte" id="{{ produit.denomination }}">
                    <div class="card-sl">
                        <div class="card-image border border-white p-3">
                            {% if produit.image %}
                                <img
                                        alt="{{ produit.partNumber }}" src="{{ produit.image }}"/>
                            {% else %}
                                <img
                                        alt="no-image" src="{{ asset("img/no_image.png") }}"/>

                            {% endif %}
                            <input id="input{{ produit.id }}" style="visibility: hidden; height:0px" value="false">
                        </div>

                        <a class="card-action" href="{{ path('app_produit_show', {'id': produit.id}) }}"><i
                                    class="fa-solid fa-magnifying-glass"></i></a>

                        <div class="card-heading">
                            {{ produit.denomination }}
                        </div>

                        <div class="card-text">
                            Reférence : {{ produit.partNumber }}
                            <br>
                            <br>
                            Prix unitaire: {{ produit.prixUnitaire }} €
                        </div>


                        {% set break = false %}
                        {% if app.user %}
                            {% for commandes in app.user.getCommandes() %}

                                {% for ligne in commandes.getLignes() %}
                                    {% if ligne.idProduit == produit.partNumber  and ligne.idStatut =='En attente de validation' and not break %}

                                        {% if not break %}
                                            <a type="submit" class="card-button"
                                               href="{{ path('app_ligne_edit', {'id': ligne.id}) }}"><i
                                                        class="fa-solid fa-cart-plus"></i></a>
                                            {% set break = true %}
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% if not break %}
                                <a type="submit" class="card-button"
                                   href="{{ path('app_ligne_new', {'id': produit.id}) }}"><i
                                            class="fa-solid fa-cart-arrow-down"></i></a>
                                {% set break = true %}
                            {% endif %}


                        {% endif %}


                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <script>

        function myFunction() {

            // Declare variables
            var input, filter, a, i, txtValue;
            input = document.getElementById('myInput');

            filter = input.value.toUpperCase();
            carte = document.getElementsByClassName("carte");

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < carte.length; i++) {
                a = carte[i].getElementsByClassName("card-sl")[0];
                ;

                txtValue = a.textContent || a.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    carte[i].classList.remove("d-none")
                } else {
                    carte[i].classList.add("d-none");
                }
            }
        }

    </script>

{% endblock %}
