{% extends 'base.html.twig' %}

{% block title %}Bon de livraison{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-3">
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
            <h1 class="text-center">Bon de livraison</h1>
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between mb-3">

            <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">

            {% if is_granted('ROLE_ADMIN') %}
                <a class="text-center col-2 p-0" href="{{ path('app_reception_new') }}">Enregistrer un bon de livraison <i
                            class="fa-solid fa-arrow-right-to-bracket"></i></a>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th >Bon de livraison</th>
            <th ></th>
            <th ></th>
        </tr>
        </thead>

        <tbody >
        {% for reception in receptions %}
            <tr>

                <td>{{ reception.bonDeCommande }}</td>
                <td class="text-end">  <a class="col-1" href="{{ path('app_reception_edit', {'id': reception.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> - </td>
                <td>
                    <form class="col-1"  method="post" action="{{ path('app_reception_delete', {'id': reception.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ce bon de livraison');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reception.id) }}">
                        <button class="p-0 btn text-danger"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>



{% endblock %}
