{% extends 'base.html.twig' %}

{% block title %}Reception index{% endblock %}

{% block body %}
    <h1>Reception index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BonDeCommande</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reception in receptions %}
            <tr>
                <td>{{ reception.id }}</td>
                <td>{{ reception.bonDeCommande }}</td>
                <td>
                    <a href="{{ path('app_reception_show', {'id': reception.id}) }}">show</a>
                    <a href="{{ path('app_reception_edit', {'id': reception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reception_new') }}">Create new</a>
{% endblock %}
