{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}


    <div class="container m-0 p-0">

                <div class="card-sl">

                    <div class="card-heading ">
                        <div class="container">
                            <div class="row justify-content-center">
                                <img class="col-3" src="{{ asset('img/separator.svg') }}">
                                <h1 class="text-center">Créer un nouveau Produit</h1>
                                <img class="col-3" src="{{ asset('img/separator.svg') }}">

                            </div>

                        </div>
                        <a  href="{{ path('app_produit_index') }}">Retour liste produit <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>

                    {{ form_start(form, {'attr': {'class': 'row m-0 justify-content-center text-center mt-3'}}) }}

                    {{ form_label(form.denomination) }}
                    {{ form_widget(form.denomination, {'attr': {'class': 'col-6 mt-2 ' }} ) }}

                    {{ form_label(form.fournisseur) }}
                    {{ form_widget(form.fournisseur, {'attr': {'class': 'col-6 mt-2 '}} ) }}

                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'class': 'col-6 mt-2 '}} ) }}

                    {{ form_label(form.prixUnitaire) }}
                    {{ form_widget(form.prixUnitaire, {'attr': {'class': 'col-6 mt-2  '}} ) }}

                    {{ form_label(form.stockMin) }}
                    {{ form_widget(form.stockMin, {'attr': {'class': 'col-6 mt-2  ' }} ) }}

                    {{ form_label(form.stockMax) }}
                    {{ form_widget(form.stockMax, {'attr': {'class': 'col-6 mt-2  '}} ) }}

                    {{ form_errors(form.image) }}
                    {{ form_label(form.image) }}
                    {{ form_widget(form.image, {'attr': {'class': 'col-6 mt-2 p-0 '}} ) }}

                    <div class="col-12 m-3">
                        <button type="submit" class="card-button" style="width:20%; border-radius: 8px 8px; margin:1px auto;">
                            Valider
                        </button>
                    </div>
                    {{ form_end(form) }}


                </div>
            </div>
        </div>




{% endblock %}
