{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}



<div class="row justify-content-center container m-0 p-0">

    <div class="card-sl p-0">
        <div class="card-heading">
            <div class="row align-items-center justify-content-center">
                <img class="col-3" src="{{ asset('img/separator.svg') }}">
                <h1 class="text-center">{{ produit.description }}</h1>
                <img class="col-3" src="{{ asset('img/separator.svg') }}">
            </div>
        </div>
        <div class="card-image">
            <a class="card-action" href="{{ path('app_main') }}"><i class="fa-solid fa-backward"></i></a>
            {% if produit.image %}
                <img
                       class="p-5" alt="{{ produit.partNumber }}" src="{{ asset(produit.image) }}"/>
            {% else %}
                <img
                        alt="no-image" src="{{ asset("img/no_image.png") }}"/>

            {% endif %}
        </div>


        <div class="card-text text-center">
            <h2>  {{ produit.denomination }}</h2>

            <h2>  {{ produit.description }}</h2>

            <br>
            <h2> Prix unitaire : {{ produit.prixUnitaire }} €</h2>

            {% set sum = 0 %}

            {% for conteneur in  produit.getConteneurs() %}
                {% set sum = sum + conteneur.quantite  %}
            {% endfor %}
            Quantité en stock : {{ sum }}





        </div>
    </div>



{% endblock %}