{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="row align-items-center justify-content-center mt-3 mb-3">
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
        <h1 class="text-center">Clients</h1>
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
    </div>
    <div class="container">
        <div  class="row justify-content-start mb-3">
            <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.adresse }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>
                    {% if utilisateur.roles[0] == 'ROLE_ADMIN' %}
                        Administrateur
                    {% elseif   utilisateur.roles[0] == 'ROLE_LOG' %}
                        Logisticien
                    {% elseif   utilisateur.roles[0] == 'ROLE_USER' %}
                        Client
                    {% endif %}
                </td>

            </tr>


        {% endfor %}
        </tbody>
    </table>


{% endblock %}
