{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
<div class="row align-items-center justify-content-center">
    <img class="col-3" src="{{ asset('img/separator.svg') }}">
    <h1 class="text-center" >Commandes</h1>
    <img class="col-3" src="{{ asset('img/separator.svg') }}">
</div>

    <div  class="row justify-content-end">
        <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro de Commande</th>
                <th>Statut</th>
                <th>Date de Commande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
{% if  app.user %}
            {% if is_granted('ROLE_LOG') or  app.user.id == commande.idUtilisateur.id  %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.numeroCommande }}</td>
                <td>{{ commande.idStatut }}</td>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}">Détail</a>

                    <a href="{{ path('app_commande_print', {'id': commande.id}) }}">Impression</a>
                </td>
            </tr>

        {% endif %}
{% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
