{% extends 'base.html.twig' %}

{% block title %}Préparer une commande{% endblock %}

{% block body %}

    {% for message in app.flashes('finish') %}
        <div class="alert alert-danger alert-dismissible fade show">
            {{ message }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


    <div class="row align-items-center justify-content-center">
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
        <h1 class="text-center">Commande {{ commande }}</h1>
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
    </div>

    <div class="row justify-content-center">

        {% if lignes %}



            <div class="container mt-4">
                <div class="row align-items-center justify-content-center">

                    <div class="card-sl col-3 p-0">
                        <div class="card-image border border-white">

                            <img
                                    alt="no-image" src="{{ asset("img/commande.jpg") }}"/>

                        </div>

                        <a class="card-action" href="/"><i class="fa-solid fa-backward"></i></a>
                        <div class="card-heading">
                            {{ lignes[0].idProduit.denomination }} {{ lignes[0].idProduit.PartNumber }}
                        </div>

                        <div class="card-text p-0 text-center">
                            Rendez vous à l'adresse {{ lignes[0].conteneur[0].idStock }}. <br>
                            Prélever {{ lignes[0].quantite }} {{ lignes[0].idProduit.denomination }} dans le
                            conteneur <br>{{ lignes[0].conteneur[0].codeConteneur }} part
                            number {{ lignes[0].idProduit.PartNumber }}

                            <a class="card-button mt-3"
                               href="{{ path('app_ligne_statut', {'id': lignes[0].id, 'idConteneur': lignes[0].conteneur[0].id} ) }}">Valider</a>



                        </div>
                    </div>
                </div>
            </div>




        {% endif %}

        {% if lignes == null %}


            <div class="container mt-4">
                <div class="row align-items-center justify-content-center">

                    <div class="card-sl col-3 p-0">
                        <div class="card-image border border-white">

                            <img
                                    alt="no-image" src="{{ asset("img/commandeValide.jpg") }}"/>

                        </div>

                        <a class="card-action" href="/"><i class="fa-solid fa-backward"></i></a>
                        <div class="card-heading">
                            <h5>Commande Terminée</h5>
                        </div>

                        <div class="card-text p-0 text-center">

                            <a class="card-button-bis" href="{{ path('app_commande_prepare' , {'id': commande.id}) }}">Sélectionner une autre commande</a>
                            <a class="card-button" href="{{ path('app_commande_print', {'id': commande.id})  }}">Imprimer le bon de commande</a>

                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
