{% extends 'base.html.twig' %}

{% block title %}Commandes à préparer{% endblock %}

{% block body %}




    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">

            <div class="card-sl col-12 p-0">
                <div class="card-heading text-center ps-5">
                    <div class="row align-items-center justify-content-center">
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                        <h1 class="text-center">Commandes à préparer</h1>
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                    </div>
                </div>
                <div class="card-image border border-white">

                    <img
                          class="p-5"  alt="preparation" src="{{ asset("img/palette.png") }}"/>

                </div>

                <a class="card-action" href="/"><i class="fa-solid fa-backward"></i></a>
                <div class="card-heading text-center ps-5">
                    Sélectionner une commande
                </div>

                <div class="card-text p-0">
                    {% if commandes %}
                    <form name="commandeSelect" class="row m-0 justify-content-center">
                        <label class=" text-center col-10 mt-3" > Selection une commande</label>
                        <select class=" text-center col-3 mt-3" id="selectCommande">
                            {%for commande in commandes  %}
                                <option value="{{ commande.id }}" > {{ commande.numeroCommande }}
                                    {% if commande.idStatut == "En Cours" %}
                                    - Reprendre commande en cours
                                    {% endif %}

                                </option>
                            {%endfor  %}
                        </select>
                    </form>
                    <div class="col-12 pb-3">
                    <button class="card-button mt-3" type="button"  style="width:20%; border-radius: 8px 8px; margin:1px auto;" onclick="preparer()"> Lancer la préparation</button>
                    </div>
                    {% else %}

                        <h5 class=" text-center col-12 p-4"> Aucune commande a préparer </h5>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>





<script>

 function preparer (){
     let input = document.getElementById("selectCommande").value
     window.location.href = window.location.href+ '/'+input;
 }
</script>

{% endblock %}
