{% extends 'base.html.twig' %}

{% block title %}Hello FluxController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1 class="text-center mt-3">Mouvements de stock</h1>
    <input type="search" class="light-table-filter" data-table="table" placeholder="Recherche">

<table class="table table-striped mt-3 border-white">
    <thead>
    <tr>
        <th>Code Conteneur</th>
        <th>Type</th>
        <th>Quantité</th>
        <th>Part Number</th>
        <th>Adresse</th>
        <th>Document</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for mouvement in flux %}
        <tr>
            <td><a href="{{ path('app_flux_show' , {'codeConteneur': mouvement.codeConteneur}) }}">{{ mouvement.codeConteneur}}</a></td>
            <td>{{ mouvement.type }}</td>
            <td>{{ mouvement.quantite }}</td>
            <td>{{ mouvement.partNumber }}</td>
            <td>{{ mouvement.adresseStock}}</td>
            <td>{{ mouvement.origine}}</td>
            <td>{{ mouvement.dateFlux | date('Y-m-d H:i:s')}}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>


{% endblock %}