{% extends 'base.html.twig' %}

{% block title %}Hello FluxController!{% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
        <h1 class="text-center">Conteneur</h1>
        <img class="col-3" src="{{ asset('img/separator.svg') }}">
    </div>
</div>

<table class="table table-striped mt-3 border-white">
    <thead>
    <tr>
        <th>Code Conteneur</th>
        <th>Type</th>
        <th>Quantité</th>
        <th>Part Number</th>
        <th>Adresse</th>
        <th>Document</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for mouvement in flux %}
        <tr>
            <td>{{ mouvement.codeConteneur}}</td>
            <td>{{ mouvement.type }}</td>
            <td>{{ mouvement.quantite }}</td>
            <td>{{ mouvement.partNumber }}</td>
            <td>{{ mouvement.adresseStock}}</td>
            <td>{{ mouvement.origine}}</td>
            <td>{{ mouvement.dateFlux | date('Y-m-d H:i:s')}}</td>

        </tr>
    {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}
