{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}

        <div class="row justify-content-center mt-3 mb-3">
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
            <h1 class="text-center">Adresse de stockage</h1>
            <img class="col-3" src="{{ asset('img/separator.svg') }}">
        </div>


    <div class="container">
        <div class="row justify-content-between p-0 ">
            <input type="search" class="light-table-filter col-2" data-table="table" placeholder="Recherche">

            {% if is_granted('ROLE_ADMIN') %}
            <a class="text-center col-2 p-0" href="{{ path('app_stock_new') }}">Créer une adresse <i
                        class="fa-solid fa-arrow-right-to-bracket"></i></a>
            {% endif %}
        </div>
    </div>

    <table class="table text-center mt-3">
        <thead>
        <tr>

            <th>AdresseStock</th>
            <th>MultiStockage</th>
            <th>Occupé</th>

            {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>

                <td>{{ stock.adresseStock }}</td>
                <td>{{ stock.multiStockage ? 'Yes' : 'No' }}</td>
                <td>
                    {% for conteneur in stock.getConteneurs() %}
                        {{ conteneur.codeConteneur }}     <a href="{{ path('app_conteneur_mouvement', {'id': conteneur.id}) }}"> <i class="fa-solid fa-dolly"></i> </a></br>

                    {% endfor %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>

                        <a href="{{ path('app_stock_edit', {'id': stock.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
