{% extends 'base.html.twig' %}

{% block title %}Adresse Stock{% endblock %}

{% block body %}


    <div class="container mt-5">
        <div class="row align-items-center justify-content-center" >

            <div class="card-sl col-12 p-0 m-0">

                <div class="card-heading"  >
                    <div class="row align-items-center justify-content-center">
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                        <h1 class="text-center">Créer une adresse de Stockage</h1>
                        <img class="col-3" src="{{ asset('img/separator.svg') }}">
                    </div>
                    <div class=" row justify-content-end">
                        <a class="col-1" href="{{ path('app_stock_index') }}">Retour <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    </div>
                </div>

                <div class=" p-0 " >

                    {{ form_start(form , {'attr': {'class': 'row m-0 justify-content-center'}})  }}

                    <div class=" row justify-content-center col-7 mt-5">
                        {{ form_label(form.adresseStock, 'Adresse de Stockage', { 'label_attr': {'class': 'col-12 text-center'}} ) }}
                        {{ form_widget(form.adresseStock, {
                            'attr': {'class': '  col-5'}}) }}
                    </div>

                    <div class=" row justify-content-center col-7 mt-5">
                        {{ form_label(form.multiStockage, 'Multi-Stockage', { 'label_attr': {'class': 'col-12 text-center'}} ) }}
                        {{ form_widget(form.multiStockage, {
                            'attr': {'class': '  col-5'}}) }}
                    </div>

                    <div class="col-12 mt-5 mb-5">
                        <button type="submit" class="card-button" style="width:20%; border-radius: 8px 8px; margin:1px auto;">
                            Valider
                        </button>
                    </div>
                    {{ form_end(form) }}


                </div>

            </div>
        </div>
    </div>





{% endblock %}
